.outer-box{
  width: 200px;
  height: 100px;
  padding: 10px 25px 0 50px;
  border: 2px dashed goldenrod;
  margin: 10px;
}

#special-div {
  margin-top: 100px;
}

#container{
  width: 100%;
  height: initial;
}

#container p {
  display: inline-block;
  border: 2px solid dimgray;
  width: 100px;
  height: 100px;
}
